<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="tp.crm.genericUtility.listners.ListnerImpClass"/>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="tp.crm.vendorsTest.CreateVendorsTest"/>
      <methods>
		  <include name="createVendors"/>
	  </methods>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
